.container {
    max-width: 100%;
    padding-left: 165px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 165px;
}

.contant {
    width: 1366px;
    background: no-repeat url(../img/background\ 1.png);

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 1020px;
}

.header-item {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.header-item:hover {
    background: #F26522;;
}
.header-list a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}
.header-list:hover {
    background: #F26522;
}
.galleri-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

}

.galleri-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.galleri-item1 {
    background: url(kristijan-arsov-0dUl1lL2l6I-unsplash.jpg);

}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 10px;
}
.text:hover {
    background: #F26522;;
}
.galleri-item2 {
    background: url(caleb-stokes-xEQLO9EGu64-unsplash.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.galleri-item3 {
    background: url(paula-hayes-StF8yemQ7xM-unsplash.jpg);
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 15px;
    color: white;
}